as-formula-widget {
  --as--formula-widget--background-color: var(--as--color--ui-01, #FFF);
  --as--formula-widget--description--color: var(--as--color--type-02, #747474);
  display: flex;
  flex-direction: column;
  min-width: 228px;
  height: 100%;
  overflow-y: auto;
  background: var(--as--formula-widget--background-color);
}
as-formula-widget .content {
  min-height: 100px;
}
as-formula-widget as-widget-header {
  padding-top: 6px;
}